* {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --main-font: "Fira Code", serif;
    --primary-green: #81987F;
    --primary-light: #FAF8F2;
    --secondary-green: #ACB9AD;
    --secondary-light: #E0DCD1;
    --bg-transparent: rgba(250, 248, 242, 0.2);
    --hover-transition: 0.4s ease;
    --scroll-transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

body {
    background-color: var(--primary-light);
    
}

#section1, #section2, #section3 {
    scroll-snap-type: y proximity;
    scroll-margin-top: 5em;

}
section {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}



@supports (animation-timeline: view()) {
    @keyframes fade-in {
      from { opacity: 0 }
      to   { opacity: 1 }
    }
    
    @keyframes shadow-in {
    from { border: 0px solid var(--primary-green); }
      to { border: 1px solid var(--primary-green); }
    }
    
    header, header > * {
      animation: fade-in auto linear both;
      animation-timeline: scroll();
      animation-range: 0% 100px;
    }
    
    header {
      animation-name: shadow-in;
    }
  }
  

/* header {
    backdrop-filter: blur(10px);
    position: sticky;
    top: 1rem;
    z-index: 9999;
    padding: 1rem;
    width: min(400px, 80vw);
    margin-inline: auto;
    border: 1px solid var(--primary-green);


    ul {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;        

        a {
            color: var(--primary-green);
            text-decoration: none;
            margin: 0;
            padding: 0;

            &:hover {
                text-decoration: underline;
            }
        }
    }
} */



/* Scroll indicator container */
.scroll-indicator {
    position: fixed; /* Fastgør til højre side af skærmen */
    top: 50%; /* Centrerer vertikalt på skærmen */
    right: 10px; /* Ligger 10px fra højre side */
    height: 100px; /* Højden på indikatoren */
    width: 12px; /* Bredden på indikatoren */
    background-color: var(--secondary-light); /* Lys baggrund */
    border-radius: 10px; /* Rundede hjørner */
    transform: translateY(-50%); /* Centrerer elementet */
    z-index: 99;
}

/* Scroll thumb, den del der bliver fyldt op */
.scroll-indicator-thumb {
    height: 0; /* Initialt er højde 0 */
    background-color: var(--primary-green); /* Farve på indikatorlinjen */
    border-radius: 10px; /* Rundede hjørner */
    transition: height 0.25s ease-out; /* Glat animation */
    z-index: 100;
}


h1 {
    font-weight: 400;
    color: var(--primary-green);
    text-align: center;
    font-size: 40px;
}

h2 {
    color: var(--primary-green);
    font-weight: 500;
    font-size: 40px;
}

h3 {
    font-weight: 400;
    color: var(--primary-green);
    font-size: 24px;
}

p {
    font-weight: 400;
    max-width: 65ch;
}

img {
    width: 100%;
    height: auto;
}

#section1, #section2, #section4, #section5 {
    min-height: 100vh;
    position: relative;
}

#section1 {
    position: relative;
    opacity: 0;
    transform: translateY(60px); /* Ligesom kortene starter nedenfra */
    transition: opacity 1.5s ease-out, transform 0.8s ease-out;
    padding-bottom: 5rem;
}

  
  #section1.visible {
    opacity: 1;
    transform: translateY(0); /* Kommer op på sin oprindelige position */
  }
  

#section1 h1 {

    top: 15%;
    right: 35%;
    /* transform: translate(0, -50%); */
    z-index: 2;
    margin-bottom: 2rem;
}

#section1 p {
    font-size: 24px;
    opacity: 0;
    z-index: 1;
    transform: translateY(20px);
    transition: var(--scroll-transition);
}

#section1 p.visible {
    opacity: 1;
    transform: translateY(0);
  }


#section1 img {
    /* transform: translateY(-50%); */
    z-index: 0;
    width: 300px;
}

#section2 {
    padding-bottom: 5rem;
}

.section2_grid img {
    width: 400px;
    justify-self: center;
}

#section3 {
    margin-top: 10rem;
}


/* Kompetencer Grid - Ensretter card layout */
.kompetencer_grid {
    display: grid;
    grid-template-columns: 1fr; /* Én kolonne per række */
    gap: 5rem; /* Afstand mellem cards */
}

.kompetencer_card {
    padding: 2rem;
    margin: 1rem 0;
    position: relative;
    opacity: 0;
    transform: translateY(40px); /* Starter lidt nede */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}



/* Animer kortene, når de scroller ind */

.kompetencer_card.visible {
    opacity: 1;
    transform: translateY(10px);
}

#section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-type: y mandatory;

    h1 {
        scroll-snap-align: center;
        scroll-snap-stop: always;
    }
}




#projekt1, #projekt2, #projekt3, #projekt4 {
    position: relative;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;

    h2 {
        background-color: #faf8f2cd;
        display: inline-block;
        padding: 5px;
    }

    p {
        color: var(--primary-light);
        font-size: 16px;
      margin: 2rem 0 2rem 0;
    }

    .projekt_content {
        position: relative;
        z-index: 1;
        padding: 20px;
        margin-top: 20px;
        transition: background-color 0.3s ease; /* Glidende overgang for baggrundsfarve, når den ændrer sig */
    }
}



#projekt1 {
    background-image: url(img/hcbygaia.jpg);
    background-position: 50%;
}


#projekt2 {
    background-image: url(img/todo.jpg);
    background-position: 70%;
}

#projekt3 {
    background-image: url(img/aabenbar.jpg);
    background-position: 40%;
}

#projekt4 {
    background-image: url(img/axolotl.jpg);
    background-position: 50%;
}


#section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section5 p {
    text-align: center;
}

.btn {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: inline-block;

    a, button {
        color: var(--primary-light);
        text-decoration: none;
        background-color: var(--primary-green);
        border: 2px solid var(--primary-green);
        padding: 8px 15px;
        transition: var(--hover-transition);
        display: inline-block;
        font-size: 16px;

        &:hover {
            color: var(--primary-light);
            background-color: transparent;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
        }
    }
   
}


.icon_container {
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.icon{
    transition: var(--hover-transition);
    width: 60px;
    height: 60px;
}

.icon:hover {
    transform: scale(1.1);
}

.link_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link_container a {
    font-size: 20px;
    color: #81987F;
}

header {
    background-color: var(--bg-transparent);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 1rem;
    z-index: 9999;
    padding: 1rem;
    width: min(600px, 80vw);
    margin-inline: auto;
    border: 1px solid var(--primary-green);
    text-align: center;
    
    * {
        transition: color 0.3s ease;
    }

/* Navigation */
ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
}

a {
    color: var(--primary-green);
    text-decoration: none;
    padding: 0.5rem;
}

a:hover {
    text-decoration: underline;
}


#language-switcher {
    display: flex; /* Ensure it's displayed as a horizontal menu on desktop */
    gap: 0.3rem;

    * {
        color: var(--primary-green); /* Same color as the navigation links */
    }

    button {
        background-color: transparent; /* Remove background color for consistency */
        border: none; /* No border for buttons */
        cursor: pointer; /* Pointer cursor on hover */
        font-size: 1rem; /* Same font size as the links */

        &:hover {
            text-decoration: underline;  
        }
    }
}





}


/* Modal background */
.modal {
    display: none;  /* Hidden by default */
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Dark background */
    padding-top: 50px;
  }
  
  /* Modal content */
  .modal-content {
    position: relative;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%; /* Adjust the width to control the modal size */
    max-width: 800px; /* Optional: set a max width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  /* Close button */
  .close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Vimeo embed */
  .video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  







@media (max-width: 768px) {

    header {
        button {
            display: flex;
            width: 100%;
            background: none;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            color: var(--primary-green);
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
        }

        .arrow {
            transition: transform 0.3s ease;
        }
        
        button.open .arrow {
            transform: rotate(180deg);
        }
    
        ul {
            display: none;
            flex-direction: column;
            background-color: var(--bg-transparent);
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            border: 1px solid var(--primary-green);
            padding: 0.5rem;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;

            li {
                padding: 1rem;
            }
        }
    
        ul.open {
            display: flex;
        }
    }




    #section1 h1 {
        margin-top: 1rem;
        font-size: 50px;
     }


    #section1 p{
        display: flex;
        justify-content: center;
        font-size: 16px;
        margin-bottom: 1.5rem;
    }
    #section1 div {
        display: grid;
        justify-content: center;
    }

    #section1 img {
        width: 350px;
    }

    .section2_grid {
        display: grid;
    }

    .section2_grid p {
        max-width: 350px;
        justify-self: center;
        margin-bottom: 1.5rem;
    }


    .section2_grid img {
        width: 350px;
        margin: 1.5rem 0 1.5rem 0;
    }

    
    .kompetencer_grid {
        grid-template-columns: 1fr; /* En enkelt kolonne på små skærme */
        gap: 0;
    }
    .kompetencer_card {
        max-width: 100%;
        padding: 1.5rem;
    }

    #section5 p {
        padding: 1.5rem;
    }

    .modal-content {
        width: 90%;  /* Får modal til at fylde 90% af skærmen */
        max-width: none;  /* Fjerner max-width, så det kan fylde mere på små skærme */
      }

}

@media (min-width: 769px) {

    #section1 h1 {
        font-size: 70px;
        position: absolute;
    }

    #section1 p {
        position: absolute;
    }

    #section1 p:nth-child(2) {
        top: 40%;
        left: 20%;
    }
    
    #section1 p:nth-child(3) {
        top: 50%;
        left: 40%;
    }
    
    #section1 p:nth-child(4) {
        top: 60%;
        left: 25%;
    }

    #section1 img {
        position: absolute;
        top: 5%;
        right: 5%;
        width: 400px;
    }

    .section2_grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        margin-top: 3rem;
    }

    .section2_grid img {
        justify-self: right;
    }


    .section2_grid p {
        max-width: 350px;
    }
   

/* Kompetencer Grid - Ensretter card layout */
.kompetencer_grid {
    display: grid;
    grid-template-columns: 1fr; /* Én kolonne per række */
    gap: 5rem; /* Afstand mellem cards */
    margin: 4rem 10%; /* Margin rundt om grid */
}

.kompetencer_card {
    padding: 2rem;
    width: 60%; /* Øg bredden på kortene */
    margin: 1rem 0;
    position: relative;
    opacity: 0;
    transform: translateY(40px); /* Starter lidt nede */
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}


    /* Forskudt venstre og højre placering af cards */
.kompetencer_card:nth-child(odd) {
    left: -10%; /* Placerer de ulige kort til venstre */
}

.kompetencer_card:nth-child(even) {
    left:45%; /* Placerer de lige kort til højre */
}

#projekt1 , #projekt2, #projekt3, #projekt4 {
    > div {

        margin-left: 7rem;
    }
}

#projekt1 .btn , #projekt2 .btn {
    margin-left: 0;
}
#nav-toggle {
    display: none;
}

}